{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4 mx-auto" style="max-width:600px;">

    <h2 class="text-center mb-4">Add New Password</h2>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label class="form-label">Website</label>
            <input type="text" class="form-control" name="website" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" class="form-control" name="password" required>
        </div>

        <button class="btn btn-primary w-100">
            Save Password
        </button>

    </form>

    <br>

    <a href="/generate-password" class="btn btn-warning w-100">
        🔑 Generate Password
    </a>

    <br><br>

    <a href="/dashboard" class="btn btn-secondary w-100">
        ⬅ Back to Dashboard
    </a>

</div>

{% endblock %}