{% extends "base.html" %}

{% block content %}

<div class="card shadow p-4">

    <h2 class="text-center mb-4">Saved Passwords</h2>

    <table class="table table-bordered">

        <tr>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
            <th>Delete</th>
        </tr>

        {% for password in passwords %}

        <tr>
            <td>{{ password.website }}</td>
            <td>{{ password.username }}</td>
            <td>{{ password.password }}</td>

            <td>
                <a href="/delete-password/{{ password.id }}"
                class="btn btn-danger btn-sm">
                    Delete
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

    <a href="/add-password" class="btn btn-primary">
        Add New Password
    </a>

</div>

{% endblock %}